.container-all {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100%;
  width: 100%;
  background: linear-gradient(50deg,#ff9900, #ffc163);
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  flex-direction: column;
  gap: 20px;

  img {
    object-fit: cover;
    height: 250px;
    width: 250px;
  }
}

.title {
  text-align: center;
  margin: 0;
}

.question-container {
  height: 150px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}

.current-question {
  text-align: center;
  font-size: 24px;
  max-width: 90%;
  word-break: keep-all;
  margin: 0;
}

.sprite {
  margin-top: 12px;
  width: 200px;
  height: 200px;
  background-image: url('@assets/images/states.png');
  background-size: 265% 265%;
}

.state-0 { background-position: 10% -10%; }
.state-1 { background-position: 87% -10%; }
.state-2 { background-position: 10% 46%; }
.state-3 { background-position: 86% 42%; }
.state-4 { background-position: 50% 100%; }
.state-5 { background-position: 90% 100%; }

